@using Microsoft.AspNetCore.Components.Authorization
@using ASOS_Frontend.Pages

@inherits LayoutComponentBase

<RadzenComponents />
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
	<Authorized>
		<NavMenu />
		<main style="padding-top: var(--mud-appbar-height);">
			@Body
		</main>
	</Authorized>
 	<NotAuthorized>
		<main>
			@Body
		</main>
	</NotAuthorized> 
</AuthorizeView>